<?xml version="1.0"?>
<configuration>


  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>  
  
  <!-- <log4net debug="true"> -->
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="INFOFileAppender" />
      <appender-ref ref="ERRORFileAppender" />
    </root>
    
    <!--  INFO writer ================= -->
    <appender name="INFOFileAppender" type="log4net.Appender.FileAppender">
      <file value="info-file.log" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date{MM/dd HH:mm:ss,fff} - {%level} - %message%newline"/>
      </layout>

      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
        <acceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />

    </appender>
    <!-- End INFO wwriter ============== -->

    <!--  ERROR writer ================= -->
    <appender name="ERRORFileAppender" type="log4net.Appender.FileAppender">
      <file value="error-file.log" />
      <appendToFile value="true" />
      <encoding value="utf-8" />

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date{MM/dd HH:mm:ss,fff} - {%level} : {%location} - %message%newline"/>
      </layout>

      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"/>
        <acceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG"/>
        <acceptOnMatch value="true"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
 
    </appender>
    <!-- End ERROR wwriter ============== -->
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  

</configuration>